
dubbo:
  application:
    #应用名称，每个dubbo应用的名称都是唯一的
    name: dubbo-producer
  registry:
    #注册中心
    address: zookeeper://127.0.0.1:2181
  protocol:
    #协议名称
    name: dubbo
    #服务暴露端口
    port: 12345
  scan:
    #扫描服务注册bean,即service实现类所在的包
    basePackages: com.example.dubboproducer.service.impl

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cakeordersystem?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=utf8
    username: greiz
    password: wade123456

server:
  port: 9002